/* Fonts
---------------------------------------------------------------*/
@font-face {
    font-family: 'Share Tech';
    src: url('../fonts/sharetech-regular-webfont.eot');
    src: url('../fonts/sharetech-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sharetech-regular-webfont.woff') format('woff'),
         url('../fonts/sharetech-regular-webfont.ttf') format('truetype'),
         url('../fonts/sharetech-regular-webfont.svg#share_techregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Share Tech Bold';
    src: url('../fonts/share-bold-webfont.eot');
    src: url('../fonts/share-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/share-bold-webfont.woff') format('woff'),
         url('../fonts/share-bold-webfont.ttf') format('truetype'),
         url('../fonts/share-bold-webfont.svg#sharebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt_sans-web-regular-webfont.eot');
    src: url('../fonts/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-regular-webfont.ttf') format('truetype'),
         url('../fonts/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Global
---------------------------------------------------------------*/
/* .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; } */

.attachment-profile-image { border-radius: 50%; }

.bg-white { background-color: #ffffff; }
.bg-dirtywhite { background-color: #EBEEED; }

.block:before, 
.block:after { display: table; line-height: 0; content: ""; clear: both; }

.center { width: 80%; margin: 0 auto; }

.fixed-center { margin: 0 auto; width: 960px; }

p { margin: 0 0 10px; }

/*.pull-left { float: left; }
.pull-right { float: right; }*/

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

hr { clear: both; }

/* Icons */
i[class^="icon-"] { 
	background: url(../img/sprite.png) no-repeat;
	display: block;
}

i[class$="drop"] {
	height: 55px;
	margin: 0 auto;
	width: 100px;
}

i[class$="facebook"] { background-position: -106px 0; } 
i[class$="twitter"] { background-position: -139px 0; } 
i[class$="google"] { background-position: -172px 0; } 
i[class$="linkedin"] { background-position: -205px 0; } 
i[class$="email"] { background-position: -239px 0; } 

.with-sidebar { float: left; width: 67%; }

/* Header
---------------------------------------------------------------*/
header { 
	background-color: #2F4A5E;
	max-height: 97px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}

.logo { display: inline-block; }

.navbar-default { 
	background: none;
	border: none;
	box-shadow: none;
	float: right; 
	margin-bottom: 0;
	margin-top: 17px;
 }
.navbar-default .navbar-collapse { padding: 0; }

.navbar-default .navbar-toggle { background-color: #E9E9E9; }

.navbar-default .container-fluid { padding-left: 0; padding-right: 0; }

nav ul { 
	list-style: none; 
	padding: 0; 
	margin: 0;
	text-align: center;
}

nav ul .menu-item > a:before {
	background: url(../img/sprite.png) no-repeat;
	content: '';
	display: block;
	height: 30px;
	margin: 0 auto;
	width: 30px;
}
nav ul .expertise-icon > a:before { background-position: -100px -40px; }
nav ul .expertise-icon:hover a:before { background-position: -136px -40px; }

nav ul .about-icon > a:before { background-position: -168px -40px; }
nav ul .about-icon:hover a:before { background-position: -195px -40px; }

nav ul .blog-icon > a:before { background-position: -230px -40px; }
nav ul .blog-icon:hover a:before { background-position: -270px -40px; }

nav ul .people-icon > a:before { background-position: -100px -70px; width: 40px; }
nav ul .people-icon:hover a:before { background-position: -145px -70px; }

nav ul .contact-us-icon > a:before { background-position: -194px -70px; }
nav ul .contact-us-icon:hover a:before { background-position: -235px -70px; }

nav ul li .sub-menu .menu-item a:before {
	background: url(../img/sprite.png) no-repeat;
	content: '';
	display: block;
	height: 53px;
	width: 53px;
}
nav ul li .sub-menu .qa-icon a { font-size: 8px; }
nav ul li .sub-menu .qa-icon > a:before { background-position: 0px -101px; }

nav ul li .sub-menu .mobile-icon > a:before { background-position: -64px -101px; }

nav ul li .sub-menu .web-icon > a:before { background-position: -129px -101px; }

nav ul li .sub-menu .others-icon > a:before { background-position: -193px -101px; }

nav ul li .sub-menu .staff-augmentation-icon a:before { background-position: 0px -161px; }

nav ul li .sub-menu .new-york-icon a:before { background-position: -130px -161px; }

nav ul li .sub-menu .manila-icon a:before { background-position: -64px -161px; }

nav ul li .sub-menu .value-icon a:before { background-position: -193px -161px; }

nav ul li { cursor: pointer; display: inline-block; position: relative; }
nav ul li .sub-menu { 
	display: none; 
	position: absolute; 
	padding-left: 0; 
	width: auto; 
}
nav ul li .sub-menu li { 
	background-color: #2F4A5E; 
	border-radius: 0 0 20px 20px;
	display: table-cell; 
	line-height: 12px;
	padding: 10px 15px;
}
nav ul li .sub-menu li:hover { background-color: #21759b; }
nav ul li:hover > ul { display: block; }
nav ul li .sub-menu li a { 
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 9px;
	font-weight: bold;
	padding: 0;
	text-transform: uppercase;
}
nav ul li .sub-menu li:hover a { color: #ffffff; }

nav ul li a { 
	color: #ffffff !important;
	font-family: 'Share Tech', sans-serif;
	font-size: 18px;
}
nav ul li:hover > a { color: #E67E22 !important; text-decoration: none; }

/* Body
---------------------------------------------------------------*/
body { }

/* 
 * For Parallax 
 *
 */
.index { overflow-x: hidden; width: 100%; }
.index .box-content { background-color: #ffffff; }

.index .box-content, 
.index .box-content > section,
.index .frame-5 .skills,
.home footer { 
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	position: fixed;
	text-align: center; 
	width: 100%; 
	height: 100%;
}

.index .btn-cont { margin-top: 25px; }
.index .btn-cont .main-btn .btn { 
	font-family: 'Share Tech', sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin: 25px 0;
}

.index .btn-cont .main-btn .secondary-btn { 
	background-color: rgba(47,74,94,0.7);
	border-radius: 5px;
	color: #ffffff;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}

.index .main-ul { 
	background-color: rgba(47,74,94,0.7);
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-family: 'Share Tech', sans-serif;
	font-weight: bold;
	list-style: none;
	margin-bottom: 0;
	padding-left: 20px; 
	padding-right: 20px;
}
.index .main-ul li a { color: #ffffff; }

.index ol,
.index ul { list-style-position: inside; }

.frame-1 .candidate { 
	display: inline-block;
	margin: 0 20px 20px;
	min-height: 294px;
	vertical-align: top;
	width: 25%;
}
.frame-1 .caption {
	color: #727272;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 11px;
}

.frame-2 .skills { position: relative; }
.frame-2 .skills > div {
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right: 0;
}
.frame-2 .skills .skill-list-2 { opacity: 0; }

.frame-2 .skills ul {
	display: inline-block;
	font-size: 25px;
	list-style: none;
	text-align: left;
	vertical-align: top;
	width: 24%;
}
.frame-3 { 
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
	text-align: left !important; 
}
.frame-3 ul { font-size: 27px; list-style-position: outside; margin-bottom: 20px; }

.frame-4 { 
	background:  url(../img/bg.jpg) repeat;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	color: #ffffff;
}
.frame-4 h2 {
	background-color: rgba(1,155,181,0.8);
	color: #ffffff !important;
	font-size: 1.6em;
} 

.frame-4 { text-align: left !important; }
.frame-4 ol { list-style-position: outside; margin-bottom: 20px; }

.frame-4 ol li,
.frame-4 a { opacity: 0; }

.index .scroll-btn {
	color: #ffffff;
	background-color: rgba(0,0,0,0.5);
	display: inline-block;
	padding: 0 20px;
	border-radius: 5px;
	font-size: 50px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.index .scroll-btn:hover { opacity: .7; }
.index .scroll-btn span { vertical-align: middle; }

/*End of Parallax */

.wrapper { 
	background: url(../img/bg.jpg) repeat; 
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.714285714;
	max-width: 100%; 
	width: 100%; 
}
main { padding-top: 97px; }

/* Home */
.index {
	color: #333333;
	font-family: 'Share Tech', sans-serif;
	font-size: 30px;
}

.index .btn-nav { 
	margin: 20px auto 0;
	padding-bottom: 20px; 
	width: 60%;
}

.index .home-btn { 
	background-color: #40637F;
	border-radius: 10px;
	color: #ffffff;
	display: inline-block;
	font-size: 20px;
	padding: 10px 20px;
	text-transform: capitalize;
}
.index .home-btn:hover { 
	background-color: #0F4875; 
	box-shadow: -5px 5px 0px #DD5401; 
	text-decoration: none; 
}

.index h1,
.index h2,
.index h3,
.index h4,
.index h5,
.index h6 { color: #DD5401; font-family: 'Share Tech', sans-serif; font-weight: bold !important; margin-top: 0; padding-top: 20px; }

.index .btn-nav h5,
.partners h1 {
	color: #588191;
	font-size: 40px;
	font-weight: normal;
	margin: 0;
}
.index .btn-nav > div { display: inline-block; }
.index .btn-nav > div:hover { opacity: 0.7; }
.index .btn-nav > div:hover a { text-decoration: none; }

.index .drop-cont { 
	border-top: 10px solid #396679; 
	position: relative;
	z-index: 1;
}

.index .home-title {
	color: #ffffff !important;
	font-family: 'Share Tech', sans-serif;
	font-size: 75px !important;
	font-weight: bold;
	line-height: 100px;
	text-shadow: 0 0 1px #333;
	width: 76%;
}

.index .attachment-index-featured { width: 30%; }

.index blockquote { font-style: italic; }
ol.tag { padding:0; padding-bottom: 1em; }
ol.tag li { 
	background: #ddd; 
	border-radius: 0.5em; 
	color: #333; 
	display: block; 
	float: left; 
	font-size: 0.7em;
	list-style-type: none; 
	margin: 0.2em; 
	padding: 0.1em 0.3em; 
} 
ol.tag + hr { clear: both; }

.index .entry { background-color: transparent; padding: 0; position: relative; }

.index article  {
	background: url(../img/index_bg.png) center bottom no-repeat;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	padding: 0;
	position: relative;
}

/* Box Content */
.index .box-content { border-bottom: 10px solid #396679; padding-bottom: 30px; }

.entry { background-color: #ffffff; font-family: "PT Sans", Helvetica, Arial, sans-serif; padding: 35px; }

.entry h1:nth-child(1),
.entry h1 a { 
	color: #DD5401;
	font-size: 30px;
	margin-top: 0;
	font-weight: bold;
}
.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6,
.sidebar h2 { color: #DD5401; font-family: 'Share Tech', sans-serif; font-weight: normal; }

/* Contact */

.contact .captcha-cont {
	border-radius: 6px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	margin-left: 0;
	margin-right: 0;
	padding: 25px 0;
 	background-color: #fff;
 }

.contact .title { 
	color: #ffffff;
	font-family: 'Share Tech', sans-serif;
	font-size: 35px;
	font-weight: bold;
	margin: 50px 0;
}
.contact .with-sidebar { margin-bottom: 50px; }

.contact .sidebar { background-color: transparent; padding: 0; }

/*Logo Partners */
.partner img { width: 20%; }

/* Page */
.top-icon { padding: 15px 0; position: relative; }
.top-icon:after {
	position: absolute;
	top: 50%;
	height: 5px;
	background: #66C2D2;
	content: "";
	width: 100%;
	display: block;
}

.top-icon img { position: relative; z-index: 1; }
.top-icon img:before {
	float: left;
	content: " ";
	height: 5px;
	background: #66C2D2;
	display: block;
}

/* Blog */
.blog .content .view-article { 
	color: #DD5401;
	float: right; 
	font-family: 'Share Tech', sans-serif; */
	font-weight: bold; 
	margin-bottom: 10px; 
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	position: relative;
}
.blog .content .view-article:before {
	border-bottom: 5px solid transparent;
	border-left: 10px solid #DD5401;
	border-top: 5px solid transparent;
	bottom: 13px;
	content: '';
	display: block;
	height: 0;
	left: -20px;
	position: absolute;
	width: 0;
}
.blog .content .view-article:hover { color: #FF721D; }

.blog .entry .post { 
	background-color: #ebf0f1; 
	border-radius: 5px;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	margin-bottom: 30px; 
	padding: 30px 30px 70px;
	position: relative;
}
.blog .entry  h1 a:hover { color: #FF721D; }

.blog .entry .post .calendar,
.single .single-cont .calendar { 
	background-color: #306dab;
	border-radius: 3px;
	left: -70px;
	padding: 0 12px 12px;
	position: absolute;
	text-align: center;
	min-width: 85px;
}
.blog .entry .post .calendar .month,
.single .single-cont .calendar .month { 
	background-color: #e22f22; 
	color: #ffffff;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	padding-top: 10px;
}
.blog .entry .post .calendar .day,
.single .single-cont .calendar .day { 
	background-color: #ffffff; 
	color: #e74c3c;
	font-size: 40px;
	font-weight: bold;
	line-height: 50px;
	padding: 0 10px;
}

.blog .entry .post .featured img { 
	border: 10px solid #ffffff;
	margin-bottom: 30px;
	margin-top: 10px;

}

.blog .entry { background-color: transparent; }

/*.meta {
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	clear: both;
	padding: 10px 0;
}
.meta > div { display: inline-block; font-size: 11px; margin-right: 30px; }
.meta i {
	display: inline-block;
	background: url(../img/sprite.png) no-repeat;
	height: 10px;
	width: 10px;
	margin-right: 5px;
}
.meta .calendar-icon { background-position: -278px -89px; }
.meta .comment-icon { background-position: -296px -89px; }*/

.pagination { margin-top: 30px;  text-align: right; }
.pagination > * {
	background-color: #eee;
	border: 1px solid #ddd;
	color: #2a6496;
	padding: 6px 12px;
}
.pagination .current {
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}

/* Career */
ul.job_listings li.job_listing a div.position h3, ul.job_listings li.no_job_listings_found a div.position h3 { font-size: 1.3em; }
ul.job_listings li.job_listing a ul.meta { font-size: 1.2em; }
ul.job_listings li.job_listing a div.location { font-size: 1em; }

/* Sidebar */
.sidebar { 
	background-color: #ffffff;
	float: right; 
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	padding: 20px;
	width: 30%; 
}

.sidebar h3 { color: #d35400; font-size: 20px; font-weight: normal; }

.sidebar form { position: relative; text-align: center; }
.sidebar form.search input {
	background-color: #2b99b4;
	border-radius: 10px;
	border: none;
	box-shadow: none;
	box-sizing: border-box;
	color: #ffffff;
	padding: 11px 10px;
	width: 100%;
}
.sidebar form.search input::-webkit-input-placeholder { color: #ffffff; }
.sidebar form.search input:-moz-placeholder { color: #ffffff; }
.sidebar form.search input::-moz-placeholder { color: #ffffff; }
.sidebar form.search input:-ms-input-placeholder { color: #ffffff; }

.sidebar form.search button { 
	background: url(../img/sprite.png) #258299 no-repeat;
	background-position: -259px -106px;
	border-radius: 0 10px 10px 0;
	border: none;
	box-shadow: none;
	height: 48px;
	position: absolute;
	right: 0;
	text-indent: -999999px;
	top: 0;
	width: 50px;
}

.sidebar ul { list-style: url(../img/bullet-icon.png) outside; }

.sidebar ul.taxonomy ul { display: none; } 

.sidebar .widget_tag_cloud {
	border: 2px solid #2b99b4;
	border-radius: 10px;
	min-height: 145px;
	padding: 10px;
	overflow: hidden;
}
.sidebar .widget_tag_cloud h3 { display: none; }

/* Single */
.single .center.bg-white { padding: 45px; }
.single .single-cont { background-color: #ebf0f1; position: relative; }
.single .single-cont .entry { background-color: transparent; }
.single .single-cont .sidebar { background-color: transparent; }

.comments .commentbox p { margin-top: 0; }
.comment-respond textarea,
.comment-respond input[type="text"] { 
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	background-color: #fff;
	background-image: none;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	color: #555;
	display: block;
	font-size: 14px;
	height: auto;
	line-height: 1.42857143;
	padding: 6px 12px;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	width: 100%;
}
.comment-respond .comment-reply-title  #cancel-comment-reply-link {
	background-color: #c9302c;
	border-radius: 4px;
	border: none;
	box-shadow: none;
	color: #fff;
	font-size: 13px;
	padding: 6px 12px;
}
.comment-respond .comment-reply-title { margin-bottom: 0; }
.comment-respond input[type="submit"] { 
	background-color: #428bca;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	color: #fff;
	padding: 6px 12px;
}
.comment-respond input[type="submit"]:hover { background-color: #3071a9; }

.comments ul { list-style: none; }
.comments ul li { margin-bottom: 20px; }
.comments > ul { padding-left: 0; }
.comments .avatar { 
	border: 1px solid #cccac6; 
	padding: 2px; 
	float: left; 
	margin-right: 10px;
}
.comments .commentbox { 
	background: #fafafa;
	border: 1px solid #cccac6;
	box-shadow: 0 0 2px #ddd inset;
	margin-bottom: 30px;
	overflow: hidden;
	padding: 20px;
}
.comment-respond .form-allowed-tags { font-size: 11px; }

/* Search */
.box {
	background: #fafafa;
	border: 5px solid #cccac6;
	box-shadow: 0 0 10px #CFCFCF inset;
	margin-bottom: 20px;
	padding: 20px;
}
.box h2 { margin-top: 0; }
.box h2 a { color: #DD5401; }
.box h2:hover a { color: #444; }

/* Resume Portal */
.resume_portal table thead { background: #3071a9; color: #fff; }
.resume_portal table tbody .label { padding-top: .3em; }

/* Footer
---------------------------------------------------------------*/
footer { 
	background-color: #2F4A5E; 
	color: #E2C7FF;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0 20px;
	text-align: left !important;
}
footer a:hover { color: #D35604; }

footer .address-cont { width: 60%; margin: 0 auto; }
footer .address-cont address { margin: 20px 0; }

footer .footer-title { 
	color: #DD5401;
	display: block;
	font-family: 'Share Tech Bold', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

footer .logo-img { margin-top: 10px; }

footer h1 { 
	color: #16A2C5; 
	font-family: 'Share Tech Bold', Helvetica, Arial, sans-serif; 
	font-size: 30px
}

footer p { margin-bottom: 0; margin-top: 15px; }

footer ul { 
	list-style: none; 
	margin-top: 0; 
	padding-left: 0;
}
footer ul li a { color: #E2C7FF; }

footer .footer-social i { height: 30px; width: 30px; }
footer .footer-social li { display: inline-block; }

/* Media Queries
---------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) { }

@media only screen and (min-width:1280px) { }

@media only screen and (max-width:1200px) {
	.index .home-title { line-height: 70px; width: 100%; }
	.index .btn-cont { font-size: 25px; }
}

@media only screen and (min-width:1140px) { }
@media only screen and (min-width:1024px) { }
@media only screen and (min-width:768px) { }

@media only screen and (max-width: 767px) {
	.navbar-default { padding-bottom: 30px; }
	.navbar-default .navbar-nav { background-color: #2F4A5E; border-radius: 0 0 20px 20px; }
	.navbar-default .navbar-collapse { overflow: inherit; }
	nav ul li .sub-menu li { border-radius: 20px 0 0 20px; }

	nav ul li .sub-menu { left: -133px; top: -8px; }

	.with-sidebar,
	.sidebar { float: none; width: 100%; }
	
	.sidebar { margin-top: 20px; }

	.index .box-content > section h1 { font-size: 30px; }
	.index .box-content > section,
	.index .box-content > section li { font-size: 22px; }

	.index .box-content > section.frame-1 .center { width: 100%; }
	.index .box-content > section.frame-1 .candidate { width: 25%; }

	.page .entry.center,
	.frame-3 ul,
	.frame-4 ol { width: 100%; }
}

@media only screen and (max-width: 640px) {
	.index .box-content > section h1 { font-size: 25px; }
	.index .box-content > section,
	.index .box-content > section li { font-size: 17px; }

	.index .home-title { font-size: 55px !important; }
}
@media only screen and (max-width: 622px) {
	.index .home-title,
	.index .entry { padding-top: 0; }
}

@media only screen and (max-width:319px) { }
@media only screen and (min-width:320px) { }

@media only screen and (max-width:372px) { 
	.entry { padding: 60px 20px 35px; } 
	main { padding-top: 220px !important; }

	nav ul li .sub-menu li { border-radius: 0; z-index: 1; }
}

@media only screen and (max-width:479px) { 
	.index .btn-nav > div { float: none; } 

	article > .center,
	section > .center { width: 100%; }
}

@media only screen and (min-width:480px) and (max-width: 581px) {.index .btn-nav > div { float: none; } }
@media only screen and (max-width:480px) {
	.blog .entry { margin-top: 80px; }
	.blog .entry .post .calendar { left: 0; top: -45px; }
	.blog .entry .post { margin-bottom: 70px; }
	.blog .sidebar { margin-top: 0; }

	.entry { padding: 10px; }

	.index .home-title { font-size: 50px !important; }

	.index .btn-cont .main-btn .btn { font-size: 16px; }
	.index .btn-cont .main-btn .secondary-btn { font-size: 25px; }

	.index .btn-cont { font-size: 20px; }

	.index .box-content > section .center,
	.page article > .center,
	.single article > .center { width: 100%; }

	.sidebar { margin-top: 100px; }

	.single .center.bg-white { margin-top: 80px; padding: 25px; }
	.single .single-cont .calendar { left: 0; top: -90px; }

	.index .box-content > section.frame-1 .candidate { width: 30%; margin: 0 0px 20px; }

	.index .box-content > section ul,
	.index .box-content > section ol { padding-left: 10px; }
}
@media only screen and (max-width:320px) { }

/* CSS Hacks
---------------------------------------------------------------*/
/* Firefox */
@-moz-document url-prefix() { .index .home-title { line-height: 70px; } }
